.about-header {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

.about-image {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.expect-image {
    height: 600px;
    width: 600px;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.expect-text {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.request-button {
    margin-top: 2.5rem;
    margin-right: 2.5rem;
    border-radius: 30px;
    padding: 18px 30px;
    font-size: 20px;
    line-height: 25px;
}

.request-button-color {
    color: #A303D4;
    border-color: #A303D4;
    background-color: transparent;
}

.request-button-color:hover {
    color: white;
    background-color: #A303D4;
    border-color: #A303D4;
}

.testimonals {
    margin-top: 2.5rem;
    text-align: center;
}

.testimonal-images {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-size {
    height: 200px;
    width: 200px;

}